body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/44/39/23/443923377ebc29369ef4aeae5bc159a6.jpg');
    background-size: auto;
    background-position: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}
/* inicio  decoracion pagina formulario  , editar pedido y historial de pedidos.
Para centrar la tabla */
.tabla {
   display: grid;
   place-items: center;
}
/* Estilo para las celdas de arriba */
.tabla th {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
/* Estilo para las celdas normales*/
.tabla td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Estilo para los enlaces en las celdas */
.tabla td a {
    color: red;
    text-decoration: none;
}



.formulario{
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 20px ;

}
/* fin editar pedido */
.formulario img{
    height: 280px;width: 280px;
    border-radius: 50px;

}


.sep_formulario{
    display: inline-block;
    width: 200px; /* Ajusta el ancho del label  */
    margin-bottom: 15px;
    text-align: center;
    margin-right: 10px; /* Espacio entre el label y el input */
}
/* fin decoracion pagina formulario */

/* inicio pagina principal */
.contenido {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    
}
.contenido_sub{
    text-decoration: underline;
    color: white;
}


/* Estilos para los enlaces */
.a{
    text-decoration: underline;
    color: red;
}
/* es para los productos q se muestran en la pagina */
.producto {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px;

}
/*para dar formato a las imagenes de los productos */
.producto img {
    width: 250px; height: 250px;
    border-radius: 40px;
    border-color: white;
}
/*fin pagina principal */

/*config imagen de fondo para pagina principal */

.imagen-fondo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/564x/44/39/23/443923377ebc29369ef4aeae5bc159a6.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /*valor para la oscuridad del fondo */
}

.tabla{
    color: white;
}